<div class="dog-card1-feature-card" [ngClass]="rootClassName">
  <img [attr.alt]="image_alt" [attr.src]="image_src" class="dog-card1-image" />
  <div class="dog-card1-container">
    <div class="dog-card1-container1">
      <span>{{ stringID }}</span>
      <span>{{ stringBreed }}</span>
      <span>{{ stringAge }}</span>
      <span>{{ stringSize }}</span>
      <span>{{ stringGender }}</span>
    </div>
    <div class="dog-card1-container2">
      <span>{{ dogID }}</span>
      <span>{{ dogBreed1 }}</span>
      <span>{{ dogAge }}</span>
      <span>{{ dogSize1 }}</span>
      <span>{{ dogGender1 }}</span>
    </div>
  </div>
</div>
