:host { 
  display: contents; 
}
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.login-nav {
  display: flex;
}
.login-navlink {
  display: contents;
}
.login-icon {
  width: 46px;
  height: 50px;
  text-decoration: none;
}
.login-navlink1 {
  display: contents;
}
.login-text {
  align-self: center;
  text-align: justify;
  text-decoration: none;
}
.login-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-register {
  text-decoration: none;
}
.login-burger-menu {
  display: none;
}
.login-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-image {
  height: 2rem;
}
.login-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-container02 {
  flex: 0 0 auto;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(to right,#dc612b 20%, #f7a852 60%);
}
.login-container03 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  justify-content: center;
}
.login-container04 {
  flex: 1;
  width: 648px;
  height: 369px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #000000;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.login-container04:hover {
  transform: scale(1.02);
}
.login-text01 {
  font-size: 1.5rem;
  font-weight: 600;
}
.login-form {
  width: auto;
  height: auto;
  display: inline-block;
}
.login-text04 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.login-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.login-icon12 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.login-text07 {
  align-self: flex-start;
  padding-top: 0px;
  padding-left: 0px;
}
.login-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon14 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput1 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  margin-top: 0px;
  background-color: var(--dl-color-gray-900);
}
.login-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  align-content: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.login-button {
  color: var(--dl-color-gray-white);
  width: 172px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: 10px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 10px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.login-text10 {
  color: var(--dl-color-gray-black);
  margin: var(--dl-space-space-unit);
  font-size: 1.5rem;
  font-weight: 600;
}
.login-container08 {
  flex: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.login-container09 {
  flex: 1;
  height: auto;
  display: flex;
  max-width: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.login-container09:hover {
  transform: scale(1.02);
}
.login-text13 {
  font-size: 1.5rem;
  font-weight: 600;
}
.login-form1 {
  width: auto;
  height: auto;
  display: inline-block;
}
.login-text16 {
  padding: 0px;
  align-self: flex-start;
}
.login-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon16 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput2 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.login-text17 {
  padding: 0px;
  align-self: flex-start;
}
.login-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon18 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput3 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.login-text18 {
  padding: 0px;
  align-self: flex-start;
}
.login-container12 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon20 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput4 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.login-text19 {
  padding: 0px;
  align-self: flex-start;
}
.login-container13 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon22 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput5 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  margin-top: 0px;
  background-color: var(--dl-color-gray-900);
}
.login-text22 {
  padding: 0px;
  align-self: flex-start;
}
.login-container14 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-icon24 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.login-textinput6 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  margin-top: 0px;
  background-color: var(--dl-color-gray-900);
}
.login-container15 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: 1px;
  justify-content: center;
}
.login-button1 {
  color: var(--dl-color-gray-white);
  width: 278px;
  margin-top: 0px;
  padding-top: 10px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 10px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.login-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.login-container16 {
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login-icon26 {
  width: 46px;
  height: 50px;
}
.login-text25 {
  align-self: center;
  text-align: justify;
}
.login-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.login-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-icon28 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.login-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.login-nav3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .login-container04 {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .login-container09 {
    margin-right: 0px;
  }
}
@media(max-width: 991px) {
  .login-container04 {
    width: auto;
    height: auto;
    padding: var(--dl-space-space-twounits);
    margin-top: var(--dl-space-space-twounits);
    margin-right: 0px;
  }
  .login-container08 {
    width: 100%;
  }
  .login-container09 {
    width: 100%;
    margin: 0px;
  }
  .login-button1 {
    width: 247px;
    margin: 0px;
    padding: 10px;
    align-items: center;
    padding-top: 10px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .login-nav3 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-nav {
    display: none;
  }
  .login-btn-group {
    display: none;
  }
  .login-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-container04 {
    width: 423px;
    height: 385px;
    padding: var(--dl-space-space-twounits);
    margin-top: 85px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .login-container08 {
    width: 433px;
    height: 1341px;
    flex-direction: column;
  }
  .login-container09 {
    width: 431px;
    height: 733px;
    padding: var(--dl-space-space-twounits);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .login-form1 {
    width: 324px;
    height: 727px;
    position: relative;
    padding-bottom: 0px;
  }
  .login-button1 {
    width: 200px;
    height: 32px;
    margin: 0px;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: row;
  }
  .login-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .login-nav2 {
    display: none;
  }
  .login-icon28 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .login-header {
    padding: var(--dl-space-space-unit);
  }
  .login-mobile-menu {
    padding: 16px;
  }
  .login-container04 {
    width: auto;
    height: auto;
    padding: var(--dl-space-space-twounits);
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 38px;
    background-color: var(--dl-color-gray-white);
  }
  .login-container08 {
    width: 415px;
    height: 1700px;
  }
  .login-container09 {
    width: 100%;
    height: 864px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .login-form1 {
    height: 726px;
    padding-bottom: 0px;
  }
  .login-textinput6 {
    margin-bottom: 0px;
  }
  .login-button1 {
    width: 222px;
    height: 13px;
    margin-top: 0px;
  }
  .login-footer {
    padding: var(--dl-space-space-unit);
  }
  .login-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
